@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

/* resetting styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
 /*general styles */

body {
    font-family: 'Exo 2', sans-serif;
}
h1, h2, h3, h4 {
    text-align: center;
}
h2 {
    font-weight: bold;
    margin-bottom: 40px;
}
section {
    margin: 20px 0;
}
/* section one styles */
.logo {
    margin-top: 20px;
    height: 36px;
    background: no-repeat url('../images/logo_horizontal_40_100.png') left;
    background-size: contain;

}
.background {
    margin: 0 5%;
    min-height: 50vh;
    background: no-repeat url('../images/bg_circle_1000_border.png') center;
    background-size: contain;
}

h1 {
    font-weight: bold;
    font-size: 40px;
    color: #FB5607;
    width: 240px;
    margin: 40px 0;
}
/* section two styles */
.secondSection {

    background-color: rgba(255, 190, 11, 0.95);
}
.menu { color: #fff;

}
.menu__menuItem {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 2px 2px gray;
}
.menu__menuItem h4 {
    font-size: 20px;
    font-weight: bold;

}

.menu__menuItem p {
    overflow: hidden;
    padding: 10px 0 0 10px;
}
.menu__menuItem:hover {
    cursor: pointer;
}
.menu__menuItem_first {
    background-color: rgba(251, 86, 7, 1);
}
.menu__menuItem_second {
    background-color: rgba(58, 134, 255, 1);
}
.menu__menuItem_third {
    background-color: rgba(131, 56, 236, 1);
}
.menu__menuItem_fourth {
    background-color: rgba(255, 0, 110, 1);
}
.menu__menuItem_fifth {
    background-color: rgba(255, 190, 11, 1);
    color: #000;
}
.logoSquare {
    height: 60px;
    text-align: center;
    margin-bottom: 20px;
}
/*  Slider styles */
.sliderHead {
    color: #FB5607;
}
/* section four styles */
.fourthSectionHeader {
    color: #FB5607;
    margin-top: 40px;
}
.achievements .achievements__item {
    height: 12vw;
    font-size: 28px;
    margin: 20px;
    background-size: contain;
    opacity: 85%;
    color: #fff;
}
.achievements div {
    width: 12vw;
    position: relative;
}
.achieveTitle {
    position: relative;
    margin: 20px 0;
}
.achievements__item p, .achieveTitle p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}


.achievements__item_one {
    background: no-repeat url("../images/achieve01.png") center;

}

.achievements__item_one p {
    color: #000;
}

.achievements__item_two {
    background: no-repeat url("../images/achieve02.png") center;

}
.achievements__item_third {
    background: no-repeat url("../images/achieve03.png") center;

}
.achievements__item_four {
    background: no-repeat url("../images/achieve04.png") center;

}
.achievements__item_five {
    background: no-repeat url("../images/achieve05.png") center;

}
/* section five styles */
.fiveSection {
    padding: 40px 0;
    background-color: rgba(58, 134, 255, .62);
    color: #fff;
}
.eventTable div {
    border: 2px #fff;
    border-style: groove;
}
.eventTable {
    text-align: center;
}
.headerTable {
    text-align: left;
}


/* media queries */
@media screen and (min-width: 576px) {


    .background {
        transition: all 1s linear 1s;
        background: no-repeat url('../images/pexels-scott-webb-30583.jpg') center;
        background-size: contain;
    }
    .menu__menuItem {
        transition: all 1s linear 1s;
        width: 200px;
        height: 200px;
    }
    .menu__menuItem:hover {
        cursor: pointer;
    }
    .logo {
        transition: all 1s linear 1s;
        margin-top: 20px;
        height: 72px;
        background: no-repeat url('../images/logo_horizontal_40_100.png') left;
        background-size: contain;

    }
    .achievements .achievements__item {
        width: 20vw;
        height: 15vw;
        font-size: 48px;
    }
    .achievements div {
        width: 20vw;
    }

}
